{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Google Calendar Writer {% endblock %}</h1>
<div class="continer">
    <form class='form-horizontal' method='POST' action="">
        {{ form.csrf_token() }}
    <div class="form-group">
            {{ form.course_number.label }}
            {{ form.course_number(class="form-control") }}
            {% for error in form.course_number.errors %}
            <div class="alert alert-danger">
                 {{ error }}
            </div>
            {% endfor%}
        </div>
        <div class="form-group">
            {{ form.group_number.label }}
            {{ form.group_number(class="form-control") }}
            {% for error in form.group_number.errors %}
            <div class="alert alert-danger">
                 {{ error }}
            </div>
            {% endfor%}
        </div>
    <div class="form-group">
            {{ form.subgroup_number.label }}
            {{ form.subgroup_number(class="form-control") }}
            {% for error in form.subgroup_number.errors %}
            <div class="alert alert-danger">
                 {{ error }}
            </div>
            {% endfor%}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}