{% extends 'base.html' %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/loading.css') }}" type="text/css">
{% endblock %}
{% block content %}
{% block scripts %}
    {{ super()  }}
{% endblock %}
<div id="preloader" class="preloader" style="display: none;">
    <div class="preloader__row">
      <div class="preloader__item"></div>
      <div class="preloader__item"></div>
    </div>
  </div>
<h1>{% block title %} Заполнить расписание {% endblock %}</h1>
<br>
<div class="continer">
    <form class='form-horizontal' method='POST' action="">
        {{ form.csrf_token() }}
        <div class="container">
            <div class="form-group" style="padding: 8px" id="course_num_id">
                {{ form.course_number(class="form-control") }}
                {% for error in form.course_number.errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
                {% endfor%}
            </div>
            <br>
            <div class="form-group" style="padding: 8px" id="group_num_id">
                {{ form.group_number(class="form-control") }}
                {% for error in form.group_number.errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
                {% endfor%}
            </div>
            <br>
            <div class="form-group" style="padding: 8px" id="subgroup_num_id">
                {{ form.subgroup_number(class="form-control") }}
                {% for error in form.subgroup_number.errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
                {% endfor%}
            </div>
            <br>
            <div class="form-group" style="padding: 8px" id="week_num_id">
                {{ form.week_amount(class="form-control") }}
                {% for error in form.week_amount.errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
                {% endfor%}
            </div>
        </div>
        <br>
        <div class="form-group" type="submit">
            {{ form.submit(class="btn btn-lg btn-dark fw-bold") }}
        </div>
    </form>
</div>
{% endblock %}